In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [26]:
not_hot100 = pd.read_csv("/Users/durimferati/Desktop/IRONHACK/Week_6/Day_1/Afternoon/Spotify_final_dataset.csv")
not_hot100

,Position,Artist Name,Song Name,Days,Top 10 (xTimes),Peak Position,Peak Position (xTimes),Peak Streams,Total Streams
0,1,Post Malone,Sunflower SpiderMan: Into the SpiderVerse,1506,302.0,1,(x29),2118242,883369738
1,2,Juice WRLD,Lucid Dreams,1673,178.0,1,(x20),2127668,864832399
2,3,Lil Uzi Vert,XO TOUR Llif3,1853,212.0,1,(x4),1660502,781153024
3,4,J. Cole,No Role Modelz,2547,6.0,7,0,659366,734857487
4,5,Post Malone,rockstar,1223,186.0,1,(x124),2905678,718865961
...,...,...,...,...,...,...,...,...,...
11079,11080,The Band Perry,If I Die Young,1,0.0,184,0,51321,51321
11080,11081,Justin Timberlake,Not a Bad Thing,1,0.0,196,0,49512,49512
11081,11082,Mike WiLL Made,It 23,1,0.0,167,0,46547,46547
11082,11083,The Vamps,Somebody To You,1,0.0,200,0,44962,44962
11083,11084,JAY,Z Holy Grail,1,0.0,184,0,44323,44323

In [27]:
not_hot100 = not_hot100.sample(2500)
not_hot100

,Position,Artist Name,Song Name,Days,Top 10 (xTimes),Peak Position,Peak Position (xTimes),Peak Streams,Total Streams
9493,9494,Imagine Dragons,Thunder / Young Dumb & Broke,1,0.0,155,0,260348,260348
1499,1500,Juice WRLD,Reminds Me Of You,87,0.0,15,0,961978,31142891
3123,3124,Disclosure,Magnets,66,0.0,44,0,262075,8313605
10995,10996,Foo Fighters,The Feast and The Famine,1,0.0,112,0,72411,72411
8487,8488,The Weeknd,Nothing Is Lost (You Give Me Strength),1,0.0,182,0,344188,344188
...,...,...,...,...,...,...,...,...,...
5863,5864,Kacey Musgraves,good wife,5,0.0,54,0,474826,1466965
8078,8079,Anderson .Paak,Trippy,2,0.0,164,0,253547,458307
4925,4926,Playboi Carti,Go2DaMoon,5,0.0,36,0,1146582,2380711
3722,3723,Future,LOVE YOU BETTER,12,0.0,11,0,1020136,5278444
7613,7614,Future,The Percocet & Stripper Joint,7,0.0,133,0,91350,586685

In [28]:
not_hot100 = not_hot100[['Artist Name', 'Song Name']]
not_hot100

            Artist Name                               Song Name
9493   Imagine Dragons             Thunder / Young Dumb & Broke
1499        Juice WRLD                        Reminds Me Of You
3123        Disclosure                                  Magnets
10995     Foo Fighters                 The Feast and The Famine
8487        The Weeknd   Nothing Is Lost (You Give Me Strength)
...                 ...                                     ...
5863   Kacey Musgraves                                good wife
8078    Anderson .Paak                                   Trippy
4925     Playboi Carti                                Go2DaMoon
3722            Future                          LOVE YOU BETTER
7613            Future            The Percocet & Stripper Joint

[2500 rows x 2 columns]

In [29]:
not_hot100.rename(columns={'Artist Name': 'Artist', 'Song Name': 'Title'}, inplace=True)
not_hot100

/var/folders/7c/z0n49jfx363b963q_1747v7c0000gn/T/ipykernel_21266/579651624.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_hot100.rename(columns={'Artist Name': 'Artist', 'Song Name': 'Title'}, inplace=True)

                 Artist                                   Title
9493   Imagine Dragons             Thunder / Young Dumb & Broke
1499        Juice WRLD                        Reminds Me Of You
3123        Disclosure                                  Magnets
10995     Foo Fighters                 The Feast and The Famine
8487        The Weeknd   Nothing Is Lost (You Give Me Strength)
...                 ...                                     ...
5863   Kacey Musgraves                                good wife
8078    Anderson .Paak                                   Trippy
4925     Playboi Carti                                Go2DaMoon
3722            Future                          LOVE YOU BETTER
7613            Future            The Percocet & Stripper Joint

[2500 rows x 2 columns]

In [30]:
hot100 = pd.read_csv('/Users/durimferati/Desktop/IRONHACK/Week_6/Day_1/Morning/lab-web-scraping-single-page/hot100.csv')
hot100

                           Artist            Title
0                  Olivia Rodrigo          Vampire
1                   Morgan Wallen       Last Night
2                      Luke Combs         Fast Car
3             Rema & Selena Gomez        Calm Down
4                     Miley Cyrus          Flowers
..                            ...              ...
95                  Morgan Wallen  Ain't That Some
96      Peso Pluma & Jasiel Nunez          Lagunas
97                     Noah Kahan       Dial Drunk
98  Jelly Roll With Lainey Wilson          Save Me
99                    Miley Cyrus            Jaded

[100 rows x 2 columns]

In [31]:
concatenated_df = pd.concat([hot100, not_hot100]).drop_duplicates()
concatenated_df

                   Artist                          Title
0          Olivia Rodrigo                        Vampire
1           Morgan Wallen                     Last Night
2              Luke Combs                       Fast Car
3     Rema & Selena Gomez                      Calm Down
4             Miley Cyrus                        Flowers
...                   ...                            ...
5863     Kacey Musgraves                       good wife
8078      Anderson .Paak                          Trippy
4925       Playboi Carti                       Go2DaMoon
3722              Future                 LOVE YOU BETTER
7613              Future   The Percocet & Stripper Joint

[2591 rows x 2 columns]

In [32]:
concatenated_df = concatenated_df.reset_index(drop=True)
concatenated_df

                   Artist                          Title
0          Olivia Rodrigo                        Vampire
1           Morgan Wallen                     Last Night
2              Luke Combs                       Fast Car
3     Rema & Selena Gomez                      Calm Down
4             Miley Cyrus                        Flowers
...                   ...                            ...
2586     Kacey Musgraves                       good wife
2587      Anderson .Paak                          Trippy
2588       Playboi Carti                       Go2DaMoon
2589              Future                 LOVE YOU BETTER
2590              Future   The Percocet & Stripper Joint

[2591 rows x 2 columns]